:root {
  --back-gr-cl: #f4f4fd;

  --color-logo: #4d5ae5;
  --color-logo-span: #2e2f42;
  --color-list-text: #434455;

  --color-btn-portfolio: #e7e9fc;
}

body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #434455;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  color: currentColor;
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* header */

.header{
  border-bottom: 1px solid #e7e9fc;
}

.container{
  width: 1158px;
  padding: 0 15px 0 15px;
}

.navigation-list{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin: 24px 76px 24px 156px;
}

.logo-studio {
  font-family: Raleway;
  color: var(--color-logo-span);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation {
  font-family: Roboto;
  color: var(--color-logo-span);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
}

.navigation:focus,
.navigation:hover {
  color: #404bbf;
}

.address-list{
  gap: 40px;
}

.list-item{
  gap: 40px;
}

.main-contact {
  font-style: normal;
}

.contact {
  font-family: Roboto, sans-serif;
  color: #434455;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

/* main */

/* hero */

.hero {
  background: #2e2f42;
  padding: 188px 0 188px;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}

.order {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border: none;
}

.order:hover,
.order:focus {
  width: 169px;
  height: 56px;
  left: 20px;
  top: 88px;
  background: #404bbf;
  cursor: pointer;
}

/* Skills */

.skills{
  padding: 120px 0 120px;
}

.skills-list{
  gap: 24px;
}

.skills-item{
  flex-basis: calc((100% - 72px) / 4);
}

.skills-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-logo-span);
  margin-bottom: 8px;
}

.skills-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-list-text);
}

/* Our work */

.our-work{
  padding-bottom: 120px;
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-logo-span);
  margin-bottom: 72px;
}

.list{
  gap: 24px;
}

.our-work-item{
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* Our Team */

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.skills-item-title{
  margin-bottom: 72px;
  text-align: center;
  margin-bottom: 8px;
}

.skills-item-text{
  text-align: center;
}

.our-team-list{
  flex-basis: calc((100% - 72px) / 4);
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}

.team-item-name{
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo{
  display: inline-block;
  margin-bottom: 16px;
}

/* portfolio */

.portfolio-main{
  padding: 96px 0 120px
}

.portfolio-btn-list{
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--back-gr-cl);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-btn-portfolio);
  border-radius: 4px;
}

.order-btn:focus,
.order-btn:hover {
  color: #fff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.areas-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.areas-list-item{
  width: calc((100% - 48px) / 3);
}

.descr-team{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.areas-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-logo-span);
  margin-bottom: 8px;
}

.areas-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-list-text);
}
